.todo-visit-links{
  display: flex;
}

.todo-visit-link{
  font-weight: 500;
  color: black;
}

.todo-visit-link:hover{
  color: white;
  background-color: #6c757d;
}

#hero {
  background-image: url('../../assets/placeholder-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}